$main-color: #ffffff;
$accent-color: #ff6600;
$accent-color-two: #0284d0;
$background-color: #1e2939;
$text-color-light: #d8dadd;
$text-color: #333333;
$title-color: #000000;
$main-font: 'Montserrat', sans-serif;
