.info {
  color: $title-color;
  padding: 90px;
  width: 820px;
}
.profession {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-bottom: 25px;
}
.discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.basic-info {
  margin-bottom: 65px;
}
.title-info-part {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.project-list {
  font-weight: 700;
}
.project-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $accent-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.line {
  margin: 0px 5px;
  flex: 2 1 auto;
  height: 0px;
  border-bottom: 2px dotted $accent-color;
}
.info-part {
  margin-bottom: 15px;
}
.title-profession {
  color: $title-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.title-company {
  color: $accent-color;
}
.profession-time {
  color: $text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profession-duties {
  color: $text-color;
  padding-left: 15px;
  margin-bottom: 10px;
  list-style: disc;
  &::marker {
    color: $accent-color;
  }
}
