

.tech-name
{
    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots
{
    color: #a8a8a8;
    font-weight: 100;
}

.project-cont
{
    margin-bottom: 55px;
}
.profession-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.profession-company{
    color: #ff7113;
}
.profession-time{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.pro-div{
    color: #000000;
}
.profession-duties{
    margin-top: 14px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.education-title{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.education-prof{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.education-time{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.education-div{
    color: #000000;
}